
@font-face {
   font-family: 'LINESeedKR-Bd';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
   font-weight: 700;
   font-style: normal;
}
@font-face {
   font-family: 'SBAggroB';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}
.lol_uis{
   width: 100%;
   height: 100vh;
}
.top{
   width: 100%;
   height: 63px;
   position: relative;
}
.top>div{
   width: 240px;
   height: 45px;
   position: absolute;
   color: #fff;
   font-size: 23px;
   line-height: 44px;
   font-family: 'LINESeedKR-Bd';
   letter-spacing: 3px;
}
.blue{
   left: 235px;
   border: 2px solid #5b5346;
   background-color: #12171a;
   border-right: none;
   padding-left: 2.5px;
   padding-bottom: 2.5px;
   padding-top: 2.5px;
}
.blue>span{
   background-color: rgba(50, 50, 255, 0.1);
}
.blue>span:nth-child(1){
   border-right: none;
}
.red{
   right: 222px;
   border: 2px solid #5b5346;
   background-color: #1f251e;
   border-left: none;
   padding-right: 2.5px;
   padding-bottom: 2.5px;
   padding-top: 2.5px;
}
.red>span:nth-child(2){
   border-left: none;
   padding-left: 6px;
}
.team>span{
   text-align: center;
   line-height: 36px;
   display: inline-block;
   overflow: hidden;
   border: 2px solid #262f2a;
   height: 100%;
}
.red>span{
   border: 2px solid #2a4034;
   background-color: rgba(255, 50, 50, 0.1);
}
.teamName{
   width: 75%;
}
.scores{
   width: 25%;
}
.dragons{
   width: 100%;
   height: 50px;
   position: relative;
}
.dragon{
   width: 175px;
   height: 70%;
   position: absolute;
   border: 1px solid #595a4c;
   border-top: none;
   background-color: rgb(12, 30, 34);
   display: flex;
}
.blueD{
   left: calc(47% - 195px);
   flex-direction: row-reverse;
}
.redD{
   right: calc(46% - 190px);
}
.dragon>div{
   width: 25%;
   text-align: center;
}
.dragon>div>span{
   display: inline-block;
   width: 30px;
   margin-top: 2px;
   height: 30px;
   border-radius: 50%;
   color: #fff;
   background-size: contain;
}
.consoles{
   width: 100%;
   height: 100vh;
   display: flex;
}
.consoles>div{
   width: 50%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 0 1.5rem;
}
.blueConsole{
   background-color: rgba(0, 0, 255, 0.220);
}
.redConsole{
   background-color: rgba(255, 0, 0, 0.320);
}
.nameScore{
   width: 100%;
   height: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
}
.nameScore>div{
   width: 30%;
   height: 55px;
   padding: 3px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.nameScore>div>input{
   width: 100%;
   height: 100%;
   padding-left: 1rem;
   font-size: 12pt;
}
.nameScore>div>button{
   width: 85px;
   height: 100%;
   font-size: 12pt;
}
.dragonsPannels{
   width: 100%;
   height: 50%;
   display: flex;
   flex-direction: column;
   gap: 10px;
}
.dragonsPannels>div{
   width: 100%;
   height: 22%;
}
.dragonsPannels>div>h3{
   width: 100%;
   height: 30%;
   text-align: center;
}
.dragonsPannels>div>div{
   width: 100%;
   height: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.dragonsPannels>div>div>input{
   width: 15%;
   margin: 0 5px;
   height: 100%;
   font-family: 'LINESeedKR-Bd';
   font-size: 15pt;
}